.forbtn{
    background-color: black;
}
.presentation{
    
    width: 100%;
    display: flex;
    &_img{
        width: 65%;
        margin: 3%;
        border: 2px solid white;
        margin-left: 15%;
        margin-top: 15%;
    }
    &_title{
        color: white;
        text-align: center;
    }
    &_txt{
        color: white;
        margin-top: 10%;
    }
}
.btn {
    margin-left: 80%;
    margin-bottom: 4%;
}
.compet_title{
        background-color:rgb(30, 30, 246) ;
        text-align: center;
        color: white;
        margin: 0;
    }
.fullStack{
    display: flex;
    margin: 2% 2% ;  
    &_backend{
        border: 3px solid black;
        border-radius: 10%;
        margin-left: 3%;
        padding: 5% 5%;
        text-align: center;
    }
   
    &_frontend{
        border: 3px solid black;
        border-radius: 10%;
        padding: 5% 5%;
        text-align: center;
    }
   
}
.lesplus{
    text-align: center;
    border: 3px solid black;
    border-radius: 10%;
    margin: 2% 2%;
}
.carousel{
   margin-bottom: 0px;
}