.band{
    width: 100%;
   
    &_img{
        position: relative;
        width: 100%;
    }
    &_txt{
        position: absolute;
        top: 19%;
        left: 14%;
        color: rgb(255, 0, 0);
        font-weight: bold;
    }
}
