.band{
    width: 100%;
   
    &_img{
        background-image: url(background_img.jpg);
        background-size: cover;
        width: 100%;
        position: relative;
       
    }
    &_txt{
        color: white;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 25%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}
